BODY { 
	background-color: pink !important;
  	background-image: radial-gradient(circle at 0% 0%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at center, rgba(0,0,0,0.1) 50%, transparent 50%), radial-gradient(circle at 100% 100%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at 0% 100%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at 100% 0%, transparent 50%, rgba(0,0,0,0.1) 50%) !important;
  	background-size: 8em 8em !important;
}

.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9, .tile10, .tile11, .tile12, .tile13, .tile14, .tile15,.tile16 {
  display: table-cell;
  width: 225px;
  height: 225px;
  border: 1px solid white;
  background: url("MAIN.jpg"); 
  cursor: pointer;
}

.tile1 {background-position: 0% 0%;}
.tile2 {background-position: -226px 0px;}
.tile3 {background-position: -452px 0px}
.tile4 {background-position: -678px 0%;}

.tile5 {background-position: 0% -226px;}
.tile6 {background-position: -226px -226px;}
.tile7 {background-position: -452px -226px;}
.tile8 {background-position: -678px -226px;}

.tile9 {background-position: 0% -452px;}
.tile10 {background-position: -226px -452px;}
.tile11 {background-position: -452px -452px;}
.tile12 {background-position: -678px -452px;}

.tile13 {background-position: 0 -678px;}
.tile14 {background-position: -226px -678px;}
.tile15 {background-position: -452px -678px;}
.tile16 {background: white; cursor: default;}